.container::after {
	background-image: url(photos/flowers-3956074_1920.jpg);
	opacity: 0.5;
	position: absolute;
	z-index: -1;
}



.container {
	margin: 10vh 10vh;
	background-image: url(photos/flowers-3956074_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 2%;
	font-family: 'Indie Flower', cursive;
}



/*change list task color*/
.alternativeTask {
	color: darkgreen;
}

.alternative {
	color: darkred;
}


h1 {
	font-size: 7em;
	color: #555;
	text-align: center;
	padding-top: 10%;
}

ul li {
	color: #555;
	font-size: 2em;
	margin-top: 0.5em;
	padding: 5px;
	border-bottom: #555 solid 3px;
	margin-left: 15%;
	width: 70%;
	list-style: none;
	font-weight: 600;

}

/*default button*/
button {
	background-color: transparent;
	width: 15%;
	border: none;
}

button img {
	width: 6em;
	height: auto
}

button img:hover {
	background-color: #888;
	border-radius: 10px;
	opacity: 0.8;
}

.add {
	width: 10px;
}

input {
	width: 35%;
	height: 35px;
	margin-left: 3%;
	font-size: 1em;
	font-family: 'Indie Flower', cursive;
	border: 2px solid pink;
	border-radius: 20px;
}

button.delete,
button.accept,
button.edit {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	font-weight: 600;
	color: #557;
	margin-left: 10%;
}

button.accept {
	color: darkslategray;
}

button.delete {
	color: black;
}

button.delete:hover {
	background-color: #CD5C5C;
	border-radius: 15px;
}


/*header float*/

#textFloat {
	position: relative;
	width: 700px;
	height: 7em;
	line-height: 3em;
	margin: 0 auto;
	font-size: 1.2em;
	overflow: hidden;
}

#textFloat > h1 {
	position: absolute;
	margin: 0;
	white-space: nowrap;
	animation: moveHeader 25s linear infinite;
	-webkit-animation: moveHeader 25s linear infinite;
}

#textFloat > h1:hover {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
}

@keyframes moveHeader {
	0% {
		transform: translateX(0);
		padding-left: 120%;
	}

	100% {
		transform: translateX(-100%);
		padding-left: 120%;
	}
}
